# Compiled binaries
/target/
*.class
/bin/

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Redundant Gradle files
/.gradle/
/build/

# IntelliJ IDEA project files
/.idea/
*.iml

# Eclipse project files
/.settings/
.classpath
.project

# Redundant Maven files
dependency-reduced-pom.xml

# VSCode Files
.history
.vscode

# Temporary and log files
**/temp.**
*.log

